Example

In [155]:
print("Hello, World!")

Hello, World!

Example 2

In [158]:
import sys

print(sys.version)

3.12.7 | packaged by Anaconda, Inc. | (main, Oct  4 2024, 08:22:19) [Clang 14.0.6 ]

Example 3

In [161]:
if 5 > 2:
    print("Five is greater than 2!")

Five is greater than 2!

Syntax Error

In [164]:
if 5>2:
print("Five is greater than 2!")

IndentationError: expected an indented block after 'if' statement on line 1 (338612021.py, line 2)

Variables in Python:

In [31]:
x = 5
y = "Hello, World!"

Comments in Python, example 1:

In [21]:
#This is a comment.
print("Hello, World!")

Hello, World!

Comments in Python, example 2:

In [24]:
print("Hello, World!") #This is a comment

Hello, World!

Multiline Comments example 1:

In [26]:
#This is a comment
#written in
#more than just one line
print("Hello, World!")

Hello, World!

Multiline Comments example 2 (triple quotes):

In [29]:
"""
This is a comment
written in
more than just one line
"""
print("Hello, World!")

Hello, World!

Creating Variables

In [34]:
x = 5
y = "John"
print(x)
print(y)

5
John

Change type after it has been set.

In [37]:
x = 4       # x is of type int
x = "Sally" # x is now of type str
print(x)

Sally

Specify the data type of a variable

In [44]:
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0
print(x)
print(y)
print(z)

3
3
3.0

Get the data type

In [47]:
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

Single or Double Quotes?

In [49]:
x = "John"
# is the same as
x = 'John'

Case-Sensitive

In [51]:
a = 4
A = "Sally"
#A will not overwrite a
print(a)
print(A)

4
Sally

Legal variable names:

In [53]:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

print(myvar)
print(my_var)
print(_my_var)
print(myVar)
print(MYVAR)
print(myvar2)

John
John
John
John
John
John

Illegal variable names:

In [55]:
2myvar = "John"
my-var = "John"
my var = "John"

SyntaxError: invalid decimal literal (2185399839.py, line 1)

Many Values to Multiple Variables

In [57]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

One Value to Multiple Variables

In [59]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

Unpack a Collection

In [61]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

Output Variables example 1:

In [63]:
x = "Python is awesome"
print(x)

Python is awesome

Output Variables example 2:

In [67]:
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

Python is awesome

Mathematical operator:

In [69]:
x = 5
y = 10
print(x + y)

15

Error in combining strind and number in mathematical operator

In [71]:
x = 5
y = "John"
print(x + y)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

Global Variables

In [97]:
x = "awesome"

def myfunc():
  print("Python is " + x)

myfunc()

Python is awesome

Variable with the same name inside a function, this variable will be local, and can only be used inside the function.

In [75]:
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

The global Keyword

In [77]:
def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

Use the global keyword if you want to change a global variable inside a function.

In [79]:
x = "awesome"

def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

Getting the Data Type int

In [81]:
x = 5
print(type(x))

<class 'int'>

Setting the Specific Data Type str:

In [84]:
x = str("Hello World")

#display x:
print(x)

#display the data type of x:
print(type(x))

Hello World
<class 'str'>

Setting the Specific Data Type float:

In [86]:
x = float(20.5)

#display x:
print(x)

#display the data type of x:
print(type(x))

20.5
<class 'float'>

Setting the Specific Data Type complex:

In [89]:
x = complex(1j)

#display x:
print(x)

#display the data type of x:
print(type(x))

1j
<class 'complex'>

Setting the Specific Data Type list:

In [121]:
x = list(("apple", "banana", "cherry"))

#display x:
print(x)

#display the data type of x:
print(type(x))

['apple', 'banana', 'cherry']
<class 'list'>

Setting the Data Type tuple:

In [124]:
x = ("apple", "banana", "cherry")

#display x:
print(x)

#display the data type of x:
print(type(x))

('apple', 'banana', 'cherry')
<class 'tuple'>

Setting the Data Type range:

In [128]:
x = range(6)

#display x:
print(x)

#display the data type of x:
print(type(x))

range(0, 6)
<class 'range'>

Setting the Data Type dict:

In [131]:
x = {"name" : "John", "age" : 36}

#display x:
print(x)

#display the data type of x:
print(type(x))

{'name': 'John', 'age': 36}
<class 'dict'>

Setting the Data Type set:

In [134]:
x = {"apple", "banana", "cherry"}

#display x:
print(x)

#display the data type of x:
print(type(x))

{'cherry', 'apple', 'banana'}
<class 'set'>

Setting the Data Type frozenset:

In [139]:
x = frozenset({"apple", "banana", "cherry"})

#display x:
print(x)

#display the data type of x:
print(type(x))

frozenset({'cherry', 'apple', 'banana'})
<class 'frozenset'>

Setting the Data Type bool:

In [142]:
x = bool(5)

#display x:
print(x)

#display the data type of x:
print(type(x))

True
<class 'bool'>

Setting the Data Type bytes:

In [147]:
x = bytes(5)

#display x:
print(x)

#display the data type of x:
print(type(x))

b'\x00\x00\x00\x00\x00'
<class 'bytes'>

Setting the Data Type bytearray:

In [151]:
x = bytearray(5)

#display x:
print(x)

#display the data type of x:
print(type(x))

bytearray(b'\x00\x00\x00\x00\x00')
<class 'bytearray'>

Setting the Data Type memoryview:

In [168]:
x = memoryview(bytes(5))

#display x:
print(x)

#display the data type of x:
print(type(x))

<memory at 0x15448db40>
<class 'memoryview'>

Python Numbers

In [171]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

Int
Int, or integer, is a whole number, positive or negative, without decimals, of unlimited length.

In [174]:
x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

Float
Float, or "floating point number" is a number, positive or negative, containing one or more decimals.

In [177]:
x = 1.10
y = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

Float can also be scientific numbers with an "e" to indicate the power of 10.

In [180]:
x = 35e3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

Complex
Complex numbers are written with a "j" as the imaginary part:

In [183]:
x = 3+5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

Type Conversion

In [186]:
#convert from int to float:
x = float(1)

#convert from float to int:
y = int(2.8)

#convert from int to complex:
z = complex(1)

print(x)
print(y)
print(z)

print(type(x))
print(type(y))
print(type(z))
#You cannot convert complex numbers into another number type.

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

Random Number

In [189]:
import random

print(random.randrange(1, 10))

1

Python Casting, Specify a Variable Type (int):

In [195]:
x=int(1)
y=int(2.8)
z=int("3")
print(x)
print(y)
print(z)

1
2
3

Python Casting, Specify a Variable Type (float):

In [212]:
x=float(1)
y=float(2.8)
z=float("3")
w=float("4.2")
print(x)
print(y)
print(z)
print(w)

1.0
2.8
3.0
4.2

Python Casting, Specify a Variable Type (strings):

In [220]:
x = str("s1") # x will be 's1'
y = str(2)    # y will be '2'
z = str(3.0)  # z will be '3.0'
print(x)
print(y)
print(z)

s1
2
3.0

Strings

In [ ]:
print("Hello")
print('Hello')

Quotes Inside Quotes

In [3]:
print("It's alright")
print("He is called 'Johnny'")
print('He is called "Johnny"')

It's alright
He is called 'Johnny'
He is called "Johnny"

Assign String to a Variable

In [6]:
a = "Hello"
print(a)

Hello

Multiline Strings, three double quotes:

In [9]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

Multiline Strings, three single quotes:

In [12]:
a = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

Strings are Arrays

In [16]:
a = "Hello, World!"
print(a[1])
#Get the character at position(remember that the first character has the position 0):

e

Looping Through a String

In [19]:
for x in "banana":
  print(x)

b
a
n
a
n
a

String Length

In [22]:
a="Hello, World!"
print(len(a))

13

Check String

In [25]:
txt="The best thing in life are free!"
print("free" in txt)

True

Using it in an if statement:

In [28]:
txt="The best thing in life is free"
if "free" in txt:
    print("Yes, 'free' is present")

Yes, 'free' is present

Check if NOT

In [37]:
txt="The best thing in life is free"
print("expensive" not in txt)

True

Using it in an if statement:

In [40]:
txt="The best thing in life is free!"
if "expensive" not in txt:
    print("'Expensive' is not in txt")

'Expensive' is not in txt

Slicing

In [47]:
b="Hello, World!"
print(b[2:5])

llo

Slice From the Start

In [52]:
b="Hello, World!"
print(b[:3])

Hel

Slice To the End

In [61]:
b="Hello, World!"
print(b[8:])

orld!

Negative Indexing

In [64]:
b="Hello, World!"
print(b[-5:-2])

orl

Upper Case

In [67]:
a="Hello, World!"
print(a.upper())

HELLO, WORLD!

In [75]:
b="HELLO, WORLD!"
print(b.lower())

hello, world!

Remove Whitespace

In [78]:
a=" Hello, World! "
print(a.strip())
#The strip() method removes any whitespace from the beginning or the end:

Hello, World!

Replace String

In [85]:
a="Hello, World!"
print(a.replace("H", "J"))

Jello, World!

Split String

In [108]:
a="Hello, World!"
print(a.split("o"))

['Hell', ', W', 'rld!']

String Concatenation

In [111]:
a="Hello"
b="World!"
print(a+b)
#To concatenate, or combine, two strings you can use the + operator.

HelloWorld!

String Concatenation with a white space

In [114]:
a="Hello"
b="World!"
print(a+" "+b)

Hello World!

String Format

In [119]:
age=18
txt=f"My name is Dameli, I'm {age}"
print(txt)
#To specify a string as an f-string, simply put an f in front of the string literal, and add curly brackets {} as placeholders for variables and other operations.

My name is Dameli, I'm 18

combine strings and numbers like this:

In [122]:
age=18
txt="My name is Dameli, I'm" + age
print(txt)

TypeError: can only concatenate str (not "int") to str

Placeholders and Modifiers

In [125]:
price=56
txt=f"The price is {price} dollars"
print(txt)

The price is 56 dollars

modifier to format the value.

In [136]:
price=56
txt=f"The price is {price:.2f} dollars"
print(txt)
#A modifier is included by adding a colon : followed by a legal formatting type, like .2f which means fixed point number with 2 decimals:

The price is 56.00 dollars

A placeholder can contain Python code, like math operations:

In [139]:
txt=f"The price is {(56*20):.2f} dollars"
print(txt)

The price is 1120.00 dollars

Escape Character

In [144]:
txt = "We are the so-called \"Vikings\" from the north."
print(txt)

We are the so-called "Vikings" from the north.

Error

In [147]:
txt = "We are the so-called "Vikings" from the north."
print(txt)
#

SyntaxError: invalid syntax (4013392309.py, line 1)

Single Quote

In [150]:
txt="I\'m Dameli"
print(txt)

I'm Dameli

Backslash

In [157]:
txt="This will insert only \\ bakcslash"
print(txt)

This will insert only \ bakcslash

New line

In [160]:
txt="Hello\nWorld"
print(txt)

Hello
World

Carriage Return

In [165]:
txt="Hello, World, life\rDameli"
print(txt)
#   string  string

Dameli World, life

Tab

In [168]:
txt = "Hello\tWorld!"
print(txt)

Hello	World!

Backspace

In [171]:
#This example erases one character (backspace):
txt = "Hello \bWorld!"
print(txt)

HelloWorld!

Octal value

In [174]:
#A backslash followed by three integers will result in a octal value:
txt = "\110\145\154\154\157"
print(txt)

Hello

Hex value

In [177]:
#A backslash followed by an 'x' and a hex number represents a hex value:
txt = "\x48\x65\x6c\x6c\x6f"
print(txt)

Hello