Boolean Values

In [2]:
print(10>9)
print(10==9)
print(10<9)

True
False
False

run a condition in an if statement, example

In [5]:
a=200
b=33
if a>b:
    print("a is greater than b")
else:
    print("a is not greater than b")

a is greater than b

Evaluate Values and Variables
Evaluate a string and a number:

In [7]:
print(bool("Hello"))
print(bool(15))

x="Hello"
y=15
print(bool(x))
print(bool(y))

True
True

Most Values are True

In [302]:
print(bool("abc"))
print(bool(123))
print(bool(["apple", "cherry", "banana"]))
print(bool(""))
print(bool(0))
print(bool([]))
print(bool(None))

#Almost any value is evaluated to True if it has some sort of content.

#Any string is True, except empty strings.

#Any number is True, except 0.

#Any list, tuple, set, and dictionary are True, except empty ones.

True
True
True
False
False
False
False

Functions can Return a Boolean

In [28]:
def myfunction():
    return True

print(myfunction())

True

Code based on the Boolean answer of a function:

In [30]:
def myfunction():
    return True

if myfunction():
    print("YES!")
else:
    print("NO!")

YES!

Check if an object is an integer or not:

In [32]:
x=125
print(isinstance(x, int))

True

Modulus(остаток)

In [25]:
x=5
y=2
print(x%y)

1

Exponentation

In [30]:
x=3
y=2
print(x**y)
#like 3*3, 3 in power of 2

9

Floor division

In [33]:
x=15
y=2
print(x//2)
#floor division // rounds the result down to the nearest whole number

7

In [56]:
x = 5

x <<= 3

print(x)
#Этот код использует операцию побитового сдвига слева с присваиванием (<<=) между числом 5 и числом 3.

40

In [58]:
print(x:=3)
#Код print(x := 3) присваивает значение 3 переменной x и тут же выводит его

3

Python Logical Operators

and

In [64]:
x=5
print(x>3 and x<10)
# returns True because 5 is greater than 3 AND 5 is less than 10

True

or

In [67]:
x=5
print(x>3 or x<4)
#returns True because one of the conditions are true (5 is greater than 3, but 5 is not less than 4)

True

not(reverse the function)

In [70]:
x=5
print(not(x>3 and x<10))
#returns False because not is used to reverse the result

False

is-показывает что несколько вещей это одно и тоже
example

In [75]:
x=["apple", "banana"]
y=["apple", "banana"]
z=x
print(x is z)
#returns True because x and z are the same things

print(x is y)
#returns False because x is not the same as the y, even they have the same content

print(x==y)
#returns True because this operator compares x and y, and there is we can see that they are identical

True
False
True

In [85]:
x=["apple", "banana"]
print("banana" in x)
#returns True because a sequence with the value "banana" is in the list

True

Python Lists

Lists are used to store multiple items in a single variable.

Lists are created using square brackets:

In [88]:
mylist=["apple", "banana", "orange"]
print(mylist)

['apple', 'banana', 'orange']

List Items
List items are ordered, changeable, and allow duplicate values.

List items are indexed, the first item has index [0], the second item has index [1] etc.

If you add new items to a list, the new items will be placed at the end of the list.

In [91]:
mylistwithdublicate=["apple", "banana", "cherry", "apple", "banana"]
print(mylistwithdublicate)

['apple', 'banana', 'cherry', 'apple', 'banana']

List Items - Data Types
List items can be of any data type:

In [96]:
list1=["apple", "banana", "cherry"]
list2=[1,2,3,4,5]
list3=[True,False,True]
print(list1)
print(list2)
print(list3)

['apple', 'banana', 'cherry']
[1, 2, 3, 4, 5]
[True, False, True]

A list can contain different data types:

In [101]:
mylist=["apple", 48, True, "female", 21, False]
print(mylist)

['apple', 48, True, 'female', 21, False]

The list() Constructor

In [104]:
mylist=list(("apple", "banana", "cherry"))
#note the double round-brackets
print(mylist)

['apple', 'banana', 'cherry']

Access Items and Negative Indexing

In [117]:
mylist=["apple", "banana", "cherry"]
print(mylist[1])

mylist2=["apple", "banana", "cherry"]
print(mylist2[-1]) #this will be the last index

banana
cherry

Change Item Value and Change a Range of Item Values

In [124]:
mylist=["apple", "banana", "cherry"]
mylist[1]="orange"
print(mylist)
#To change the value of a specific item, refer to the index number:

thislist=["apple", "banana", "cherry", "orange", "kiwi"]
thislist[1:3]=["watermelon", "baccurant"]
print(thislist)

#If you insert more items than you replace, the new items will be inserted where you specified, and the remaining items will move accordingly:
onemorelist=["apple", "banana", "cherry"]
onemorelist[1:2]=["watermelon", "orange"]
print(onemorelist)
#Change the second value by replacing it with two new values

['apple', 'orange', 'cherry']
['apple', 'watermelon', 'baccurant', 'orange', 'kiwi']
['apple', 'watermelon', 'orange', 'cherry']

Insert Items

In [131]:
mylist=["apple", "banana", "cherry"]
mylist.insert(2, "watermelon")
print(mylist)
#to insert a new list item, without replacing any of the existing values, we can use the insert() method.

['apple', 'banana', 'watermelon', 'cherry']

Append Items
To add an item to the end of the list, use the append() method:

In [138]:
mylist=["apple","orange","cherry"]
mylist.append("banana")
print(mylist)

['apple', 'orange', 'cherry', 'banana']

Extend List
To append elements from another list to the current list, use the extend() method.

In [141]:
mylist=["apple", "banana", "cherry"]
tropical=["orange", "mango", "pineapple"]
mylist.extend(tropical)
print(mylist)

['apple', 'banana', 'cherry', 'orange', 'mango', 'pineapple']

Add Any Iterable, The extend() method does not have to append lists, you can add any iterable object (tuples, sets, dictionaries etc.)

In [146]:
thislist=["apple", "cherry", "mango"]
thistuple=("kiwi", "orange")
thislist.extend(thistuple)
print(thislist)

['apple', 'cherry', 'mango', 'kiwi', 'orange']

Python - Remove List Items

In [149]:
thislist=["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

Remove Specified Index

In [152]:
thislist=["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist)

['apple', 'cherry']

The del keyword also removes the specified index, it also deletes the entire list:

In [169]:
thislist=["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

thislist2=["apple", "banana"]
del thislist2

['banana', 'cherry']

Clear the list:

In [172]:
thislist=["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

You can loop through the list items by using a for loop:

In [175]:
thislist=["apple", "banana", "cherry"]
for x in thislist:
    print(x)

apple
banana
cherry

Loop Through the Index Numbers
You can also loop through the list items by referring to their index number.

Use the range() and len() functions to create a suitable iterable.

In [178]:
thislist=["apple", "banana", "cherry"]
for i in range(len(thislist)):
    print(thislist[i])

apple
banana
cherry

Using a While Loop

In [183]:
thislist=["apple", "banana", "cherry"]
i=0
while i<len(thislist):
    print(thislist[i])
    i=i+1

apple
banana
cherry

Looping Using List Comprehension (A short hand for loop that will print all items in a list)

In [187]:
thislist=["apple", "banana", "cherry"]
[print(x) for x in thislist]

apple
banana
cherry

[None, None, None]

A short hand for loop that will print all items in a list:

In [192]:
fruits=["apple", "banana", "cherry"]
newlist=[]
for x in fruits:
    if "a" in x:
        newlist.append(x)

print(newlist)

['apple', 'banana']

 with only one line of code:

In [199]:
fruits=["apple", "banana", "cherry"]
newlist=[x for x in fruits if "a" in x]
print(newlist)

['apple', 'banana']

Python Tuples

Tuples are used to store multiple items in a single variable.

A tuple is a collection which is ordered and unchangeable.

Tuples are written with round brackets.

Tuple items are ordered, unchangeable, and allow duplicate values.

Tuple items are indexed, the first item has index [0], the second item has index [1] etc.

One item tuple, remember the comma

Tuple items can be of any data type and can contain different data types

In [206]:
mytuple=("apple", "banana", "cherry")
print(mytuple)

('apple', 'banana', 'cherry')

Change Tuple Values

In [210]:
x=("apple", "banana", "cherry")
y=list(x)
y[1]="kiwi"
x=tuple(y)

print(x)
#Convert the tuple into a list to be able to change it:

('apple', 'kiwi', 'cherry')

Add Items

In [213]:
thistuple=("apple", "banana", "cherry")
y=list(thistuple)
y.append("orange")
thistuple=tuple(y)
print(thistuple)
#Convert the tuple into a list, add "orange", and convert it back into a tuple:

('apple', 'banana', 'cherry', 'orange')

Add tuple to a tuple

In [220]:
thistuple=("apple", "banana", "cherry")
mytuple=("orange",)
thistuple+=mytuple
print(thistuple)

('apple', 'banana', 'cherry', 'orange')

Remove Items(we cannot remove items in a tuple)

In [227]:
thistuple=("apple", "banana", "cherry")
y=list(thistuple)
y.remove("apple")
thistuple=tuple(y)
print(thistuple)
#Convert the tuple into a list, remove "apple", and convert it back into a tuple:

('banana', 'cherry')

Unpacking a tuple

In [234]:
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)
#The number of variables must match the number of values in the tuple, if not, you must use an asterisk to collect the remaining values as a list.

apple
banana
cherry

Using Asterisk*

In [237]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

Add a list of values the "tropic" variable:

In [240]:
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")

(green, *tropic, red) = fruits

print(green)
print(tropic)
print(red)

apple
['mango', 'papaya', 'pineapple']
cherry

Multiply Tuples

In [243]:
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

Python Sets

A set is a collection which is unordered, unchangeable*, and unindexed, but you can remove items and add new items.

Duplicates Not Allowed

The values True and 1 are considered the same value in sets, and are treated as duplicates

False and 0 is considered the same value, and are treated as dublicates

Set items can be of any data type, A set can contain different data types

Once a set is created, you cannot change its items, but you can add new items.

You cannot access items in a set by referring to an index or a key.

In [250]:
myset={"apple", "banana", "cherry"}
print(myset)

{'banana', 'cherry', 'apple'}

The set() Constructor

In [253]:
thisset = set(("apple", "banana", "cherry"))
#Using the set() constructor to make a set
# note the double round-brackets
print(thisset)

{'banana', 'cherry', 'apple'}

Access Items

In [256]:
thisset={"apple", "banana", "cherry"}
for x in thisset:
    print(x)

banana
cherry
apple

In [258]:
thisset={"apple", "banana", "cherry"}
print("banana" in thisset)

True

Add Items

In [261]:
thisset={"apple", "banana", "cherry"}
thisset.add("orange")
print(thisset)

{'orange', 'banana', 'cherry', 'apple'}

Add Sets

In [264]:
thisset={"apple", "banana","cherry"}
tropical={"mango", "pineapple", "papaya"}
thisset.update(tropical)
print(thisset)

{'pineapple', 'papaya', 'banana', 'mango', 'cherry', 'apple'}

Add Any Iterable

In [269]:
#The object in the update() method does not have to be a set, it can be any iterable object (tuples, lists, dictionaries etc.).
thisset={"apple", "banana", "cherry"}
mylist=["kiwi", "orange"]
thisset.update(mylist)
print(thisset)

{'orange', 'banana', 'apple', 'kiwi', 'cherry'}

The difference between remove and discard:
If the item to remove does not exist, remove() will raise an error.

If the item to remove does not exist, discard() will NOT raise an error.

the pop() method to remove an item, but this method will remove a random item, so you cannot be sure what item that gets removed.

The clear() method empties the set:

Join Sets:
union() and update()
Both union() and update() will exclude any duplicate items.

In [277]:
set1={"a", "b", "c"}
set2={1,2,3}
set3=set1.union(set2)
print(set3)

#You can use the | operator instead of the union() method, and you will get the same result.
set1={"a", "b", "c"}
set2={1,2,3}
set3=set1 | set2
print(set3)
#The  | operator only allows you to join sets with sets, and not with other data types like you can with the  union() method.

{1, 'b', 2, 3, 'c', 'a'}
{1, 'b', 2, 3, 'c', 'a'}

In [279]:
set1={"a","b","c"}
set2={1,2,3}
set1.update(set2)
print(set1)

{1, 'b', 2, 3, 'c', 'a'}

Intersection(Keep ONLY the duplicates)

return a new set, that only contains the items that are present in both sets.

In [284]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.intersection(set2)
print(set3)
#You can use the & operator instead of the intersection() method, and you will get the same result.
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 & (set2)
print(set3)
#The & operator only allows you to join sets with sets, and not with other data types like you can with the intersection() method.

{'apple'}
{'apple'}

Difference

return a new set that will contain only the items from the first set that are not present in the other set.

In [291]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.difference(set2)

print(set3)
#Keep all items from set1 that are not in set2

#You can use the - operator instead of the difference() method, and you will get the same result.
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 - (set2)

print(set3)
#The - operator only allows you to join sets with sets, and not with other data types like you can with the difference() method.

{'banana', 'cherry'}
{'banana', 'cherry'}

The intersection_update() method will also keep ONLY the duplicates, but it will change the original set instead of returning a new set.

The difference_update() method will also keep the items from the first set that are not in the other set, but it will change the original set instead of returning a new set.

Symmetric Differences
The symmetric_difference() method will keep only the elements that are NOT present in both sets.

In [299]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.symmetric_difference(set2)

print(set3)

#You can use the ^ operator instead of the symmetric_difference() method, and you will get the same result.

set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 ^ set2
print(set3)
#The ^ operator only allows you to join sets with sets, and not with other data types like you can with the symmetric_difference() method.

{'microsoft', 'banana', 'google', 'cherry'}
{'microsoft', 'banana', 'google', 'cherry'}

Accessing Items
You can access the items of a dictionary by referring to its key name, inside square brackets

In [321]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = thisdict["model"]
print(x)

#There is also a method called get() that will give you the same result:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = thisdict.get("model")
print(x)

Mustang
Mustang

Get keys and values

In [329]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = thisdict.keys()

print(x)

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = thisdict.values()

print(x)

dict_keys(['brand', 'model', 'year'])
dict_values(['Ford', 'Mustang', 1964])

In [331]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.keys()

print(x) #before the change

car["color"] = "white"

print(x) #after the change

#Add a new item to the original dictionary, and see that the keys list gets updated as well, the same with value

dict_keys(['brand', 'model', 'year'])
dict_keys(['brand', 'model', 'year', 'color'])

Get a list of the key:value pairs

In [336]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = thisdict.items()

print(x)

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])

Python If ... Else

Elif (The elif keyword is Python's way of saying "if the previous conditions were not true, then try this condition")

In [341]:
a = 33
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

a and b are equal

Else (The else keyword catches anything which isn't caught by the preceding conditions)

In [344]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

Short Hand If

In [347]:
if a > b: print("a is greater than b")

a is greater than b

Short Hand If ... Else

In [351]:
a = 2
b = 330
print("A") if a > b else print("B")

B

Nested If

In [354]:
x = 41

if x > 10:
  print("Above ten,")
  if x > 20:
    print("and also above 20!")
  else:
    print("but not above 20.")

Above ten,
and also above 20!

The pass Statement

In [357]:
a = 33
b = 200

if b > a:
  pass

#if statements cannot be empty, but if you for some reason have an if statement with no content, put in the pass statement to avoid getting an error.

The while Loop

In [360]:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

The break Statement

In [363]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

The continue Statement

In [369]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

The else Statement

In [372]:
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6